.bg--header-bg {background-image: url('../../images/header-bg.jpg');}
.bg--map-marker-big {background-image: url('../../images/map-marker-big.png');}
.bg--world-map-dots {background-image: url('../../images/world-map-dots.png');}
.bg--slide-malibu {background-image: url('../../images/slide-malibu.jpg');}
.bg--slide-airline {background-image: url('../../images/slide-airline.jpg');}
.bg--slide-cloud {background-image: url('../../images/slide-cloud.jpg');}
.bg--slide-vieux {background-image: url('../../images/slide-vieux.jpg');}
.bg--travel-bg {background-image: url('../../images/travel-bg.png');}
.bg--travelslider-bg {background-image: url('../../images/travelslider-bg.png');}
.bg--travelslider-bg {background-image: url('../../images/sleepslider-bg.png');}
.bg--plane {background-image: url('../../images/plane.png');}